@import '../../../../shared/styles/animations.scss';

.scrollable-list-container {
    display: flex;
    flex-direction: row;

    column-gap: 0.2rem;

    flex-shrink: 0;
    width: 100%;

    overflow: hidden;

    .scrollable-list {
        display: flex;
        flex-direction: row;

        column-gap: 0.2rem;

        flex: 1 0 auto;
        
        min-width: 100%;
        margin: 0 auto;
    }

    .scrollable-list {
        &--left {
            @extend .animation-scroll-left--semi-slow;
        }
        
        &--right {
            @extend .animation-scroll-right--semi-slow;
        }
    }

    &.paused {
        .scrollable-list {
            animation-play-state: paused;
        }
    }
}