$color-white: #fff;
$color-black: #000;

$color-primary: #D90429;
$color-primary-light: #EF233C;

$color-secondary: #2B2D42;
$color-secondary-light: #8D99AE;

$color-ternary: #EDF2F4;

$font-family-primary: "Source Sans Pro", sans-serif;
$font-family-secondary: "Montserrat", sans-serif;

$font-size-default: 16px;

$font-size-large: 1.4rem;
$font-size-semi-large: 1.2rem;
$font-size-default: 1rem;
$font-size-semi-small: 0.9rem;
$font-size-small: 0.8rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
